<!doctype html>
<title>Mention Classifier Display</title>

<style media="screen" type="text/css">

form {
    display: inline;
}

</style>

<FORM ACTION="/" METHOD="post">
    <INPUT TYPE="submit" name="submit" value="Logout">

</FORM>

<FORM ACTION="annotate" METHOD="post">
     Você está logado com o e-mail: {{email}}

    <head>
        <meta charset="UTF-8">
    </head>

    {% block body %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h2>O tweet abaixo diz respeito {{context}}?</h2>

    <INPUT TYPE="submit" name="submit" value="Sim">
    <INPUT TYPE="submit" name="submit" value="Nao">
    <INPUT TYPE="submit" name="submit" value="Nao Sei">
    <INPUT TYPE="hidden" name="userId" value="{{userId}}">
    <INPUT TYPE="hidden" name="tweetId" value="{{tweetId}}">

    <div id="tweet">{{tweet|safe}}</div>

    {% endblock %}

</FORM>