<!doctype html>
<title>Mention Classifier Display</title>
<FORM ACTION="annotate" METHOD="post">

    <head>
        <meta charset="UTF-8">
    </head>

    {% block body %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        {% if message %}
            <h2>{{message}}</h2>
        {% endif %}

        {% if tweet %}
            <h2>O tweet abaixo diz respeito {{context}}?</h2>

            <div id="tweet">{{tweet|safe}}</div>

            <INPUT TYPE="radio" NAME="answer" value="yes">Sim<BR><BR>
            <INPUT TYPE="radio" NAME="answer" value="no">Não<BR><BR>
            <INPUT TYPE="hidden" name="userId" value="{{userId}}">
            <INPUT TYPE="hidden" name="tweetId" value="{{tweetId}}">
            <INPUT TYPE="submit" name="submit" value="Enviar resposta ou Pular">
        {% endif %}

    {% endblock %}

</FORM>
